<div *ngIf="!isEditClicked" class="comment-wrapper">
  <img [src]="avatarUrl" />
  <div class="titles-wrapper">
    <span class="name">{{ name }}</span>
    <span class="comment">{{ comment }}</span>
  </div>

  <div class="icons-wrapper">
    <i class="fa fa-pen" aria-hidden="true" (click)="onEdit()"></i>
    <i class="fa fa-trash" aria-hidden="true" (click)="onDelete()"></i>
  </div>
</div>

<app-add-comment
  *ngIf="isEditClicked"
  [isEdit]="true"
  [name]="name"
  [comment]="comment"
  (commentAdded)="onEditSave($event)"
></app-add-comment>
