$shadow: 0px 4px 3px 2px rgba(0, 0, 0, 0.2);

:host {
  display: flex;
  width: 100%;
}

.comment-wrapper {
  align-items: center;
  background-color: white;
  border: 2px solid black;
  box-shadow: $shadow;
  box-sizing: border-box;
  display: flex;
  padding: 16px;
  position: relative;
  width: 100%;
}

img {
  border: 2px solid rgb(193, 193, 193);
  height: 64px;
  margin-inline-end: 18px;
  width: 64px;
}

.titles-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 24px;

  .name {
    color: black;
    margin-bottom: 6px;
  }

  .comment {
    color: gray;
  }
}

.icons-wrapper {
  display: flex;
  position: absolute;
  right: 16px;
  top: 16px;

  .fa {
    cursor: pointer;
    margin-inline-start: 8px;
  }
}

:host-context([style*='rtl']),
:host-context([dir='rtl']) {
  .icons-wrapper {
    left: 16px;
    right: unset;
  }
}
